/**
<%#documentationAvailable%>
<%#documentation%>
  * <%.%>
<%/documentation%>
  *
<%/documentationAvailable%>
  * @constructor
<%#abstract%>
  * @abstract
  * @mixin
<%/abstract%>
<%#extends%>
  * @augments <%.%>
<%/extends%>
<%#implements%>
  * @mixes <%.%>
<%/implements%>
  * @param {{
<%#constructorParameters%>
  *   [<%name%>]: <%type%><%^last%>,<%/last%>
<%/constructorParameters%>
  *   }} constructorProperties
  */
<%prefix%>.<%class%> = function(constructorProperties) {
    <%classBody%>
};
