/**
<%#documentationAvailable%>
<%#documentation%>
  * <%.%>
<%/documentation%>
  *
<%/documentationAvailable%>
<%#extends%>
  * @augments <%.%>
<%/extends%>
  * @param {{
<%#constructorParameters%>
  *   [<%name%>]: <%type%><%^last%>,<%/last%>
<%/constructorParameters%>
  *   }} constructorProperties
  */
<%prefix%>.<%class%> = function(constructorProperties) {
    <%classBody%>
};
