/**
<%#documentation%>
  * <%.%>
<%/documentation%>
  *
<%#constructorSignature%>
  * <%.%>
<%/constructorSignature%>
  */
<%prefix%>.<%class%> = function() {
    /**
<%#documentation%>
      * <%.%>
<%/documentation%>
      */
    this.c_new = function(<%#constructorParameters%><%name%><%^last%>, <%/last%><%/constructorParameters%>) {}:
    <%classBody%>
};