/**
<%#documentationAvailable%>
<%#documentation%>
  * <%.%>
<%/documentation%>
  *
<%/documentationAvailable%>
<%#signature%>
  * <%.%>
<%/signature%>
  */
<%prefix%>.<%method%> = function(<%#parameters%><%name%><%^last%>, <%/last%><%/parameters%>) {};