<%#docBlock%>
/**
<%#documentationAvailable%>
<%#documentation%>
  * <%.%>
<%/documentation%>
  *
<%/documentationAvailable%>
<%#signature%>
  * <%.%>
<%/signature%>
  */
<%/docBlock%>
<%prefix%>.<%variable%> = <%assignment%>;
